
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
     <h1>Seja Bem Vindo!</h1>

    <h2>Se você não tem dinheiro não pode usar esse site!</h2>

    <h1>XAU!</h1>

</body>
</html>
