
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Implastic - Embalagens</title>
        <meta charset="utf-8" />
        <link rel="icon" href="~/Content/Img/Icon-Implastic.png"/>
        <link rel="stylesheet" href="~/Content/Css/reset.css" />
        <link rel="stylesheet" href="~/Content/Css/Site.css" />
        <link rel="stylesheet" href="~/Content/Css/login.css" />
    </head>
    <body class="paises">
        <main class="paises-tela-principal">
            <div class="titulo-pagina-paises">
                <h1>Países</h1>
            </div>

            <div class="menu-de-navegacao">
                <ul>
                    <li><a class="menu-pagina-inicial" href="http://localhost:63994">Página Inicial</a></li>
                </ul>
            </div>

            <div>
                <label for="Nome">Nome</label>
                <input type="text" name="Nome" />
            </div>

            <article>
                <footer class="rodape">
                    &real; Implastic - Embalagem
                </footer>

            </article>
        </main>
    </body>
</html>

