
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Implastic - Embalagens</title>
        <meta charset="utf-8" />
        <link rel="icon" href="~/Content/Img/Icon-Implastic.png"/>
        <link rel="stylesheet" href="~/Content/Css/reset.css" />
        <link rel="stylesheet" href="~/Content/Css/Site.css" />
        <link rel="stylesheet" href="~/Content/Css/login.css" />
    </head>
    <body class="paises">
        <main class="paises-tela-principal">
            <div>

            </div>
        </main>
    </body>
</html>

