
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Implastic - Embalagens</title>
        <meta charset="utf-8" />
        <link rel="icon" href="~/Content/Img/Icon-Implastic.png" />
        <link rel="stylesheet" href="~/Content/Css/reset.css" />
        <link rel="stylesheet" href="~/Content/Css/Site.css" />
        <link rel="stylesheet" href="~/Content/Css/login.css" />
    </head>
    <body class="home">
        <main>
            <div class="titulo-pagina-inicial">
                <h1>Página Inicial</h1>
            </div>

            <div class="link-pagina-paises">
                <ul>
                    <li><a class="link-paises" href="http://localhost:63994/Paises">Países</a></li>
                </ul>
            </div>

            <article>
                <footer class="rodape">
                    &real; Implastic - Embalagem
                </footer>

            </article>

        </main>

    </body>
</html>



