@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Implastic - Embalagens</title>
    <meta charset="utf-8">
    <link rel="icon" href="~/Content/Img/Icon-Implastic.png">
    <link rel="stylesheet" href="~/Content/Css/reset.css">
    <link rel="stylesheet" href="~/Content/Css/Site.css">
    <link rel="stylesheet" href="~/Content/Css/login.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700">
</head>
<body>
    <main class="titulo-principal">

        <div class="img-login-person">
            <img src="~/Content/Img/002-man-user.png">
        </div>
        <div id="teste">

            <div class="login">

                <ul class="login-titulo">
                    <label for="titulo">Login - Implastic</label>
                </ul>

                <ul class="login-espacamento">
                    <label for="login">Login:</label>
                    <input type="text" name="Login">
                </ul>

                <ul class="senha-espacamento">
                    <label for="senha">Senha:</label>
                    <input type="password" name="Senha">
                </ul>

                <nav class="login-entrar">
                    <input type="submit" value="Login">
                </nav>

            </div>

        </div>
        <article>
            <footer>
                &real; Implastic - Embalagem
            </footer>

        </article>
    </main>
</body>
</html>